<!--<h1>Listing addimitions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addimitions.each do |addimition| %>
  <tr>
    <td><%= link_to 'Show', addimition %></td>
    <td><%= link_to 'Edit', edit_addimition_path(addimition) %></td>
    <td><%= link_to 'Destroy', addimition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br /> -->

<%= link_to 'New Addimition', new_addimition_path %>
